<section class="individual-recipe__section">

  {{#each oneRecipe}}
  <h1>{{this.title}}</h1>
  <img src={{this.img}}>
  <span>{{this.health_score}}</span>

  <ul>

    {{#each this.ingredient_name}}
    <li>{{this.ingredient_name}}</li>
    {{/each}}

  </ul>

  <p>{{this.instructions}}</p>
  {{/each}}

</section>
