<section class="background background__newPlan"></section>

<section>

  <h1 class="header header__new-plan"> Pick 2 recipes</h1>

  {{#each recipes}}
  <div class="container__pick-recipes">
  <h2 class="recipe-title__newplan">{{this.recipeName}}</h2>
  <span class="recipe-time__newplan">T {{this.cookingTime}}</span>
  <span class="recipe-health__newplan">H{{this.healthScore}}</span>
  <img class="recipe-image__newplan" src="{{this.imageUrl}}">
  <input class="btn btn__newplan-select" type="submit" value="Select" id="{{this.id}}">
</div>
  {{/each}}



  <form action="/mealplans" class="newplan__nav-buttons">
    <div class="container__next-back-buttons">
    <input class="btn btn__back__new-plan" type="submit" value="Back">
    <input class="btn btn__next__new-plan" type="submit" value="Next" formaction="/newplan-additional-choices">
  </div>
  </form>



  {{>loadMore}}
{{!-- 
  {{>counter}} --}}


</section>


<script src="/js/newPlan.js"></script>
