<section>

  <h1 class="new-plan__header"> Pick 2 recipes</h1>

  {{#each recipes}}


  <h1 class="recipe__header__{{this.recipeName}}">{{this.recipeName}}</h1>
  <p class="recipe__cooking__{{this.recipeName}}">Cooking time: {{this.cookingTime}}</p>
  <p class="recipe__health__{{this.recipeName}}">Health score: {{this.healthScore}}</p>
  <img src="{{this.imageUrl}}">


  {{/each}}



  <form action="/mealplans" class="newplan__nav-buttons">
    <input type="submit" value="Back" class="newplan__nav-buttons__back">
    <input type="submit" value="Next" formaction="/newplan-additional-choices" class="newplan__nav_buttons__next">
  </form>



  {{>loadMore}}

  {{>counter}}


</section>
