<section class="background background__img"></section>

<h1 class="header header__second-choices"> Select up to five more recipes </h1>
{{!-- {{>recipeList}}
  {{!-- {{>loadMores}} --}}

{{#each recipes}}
<div class="container__pick-more-recipes">
  <h2 class="recipe__header">{{this.recipeName}}</h2>
  {{!-- <p class="recipe__cooking">Cooking time: {{this.cookingTime}}</p>
  <p class="recipe__health">Health score: {{this.healthScore}}</p> --}}
  <img src="{{this.imageUrl}}" class="recipe-image__additional-plan">
  <input type="submit" value="Select" class="btn recipe__select" id="{{this.id}}">
</div>

{{/each}}

<form class="second-choices__form" action="/submitmealplan" method="POST">
  <input aria-label="Go back" value="Back" name="back" class="btn second-choices__back-button" type="submit"
    formaction="/newplan">
  <input aria-label="Name meal plan" value="Name plan" name="name plan" placeholder="Name your plan"
    class="second-choices__name-plan" type="text">
  <input aria-label="Save meal plan" name="save" value="Save" class="btn second-choices__save-button" type="submit">
</form>
{{!-- {{>counter}} --}}
</section>

<script src="js/additionalChoices.js"></script>