<section class="background background__shoppingList"></section>
<section class="shopping-list-container">
    <h1 class="header header__shopping-list">Shopping List</h1>
    <h2 class="shopping-list__title"> {{unique.title}}</h2>
    <h2 class="shopping-list__days"> {{unique-recipe.days}}</h2>

    <ul class="list shopping-list__unordered-list">
        {{#each ingredients}}
        <li class="list shopping-list__unordered-list__item{{this.ingredient_name}}"> <input type="checkbox">
            {{ this.ingredient_name}} </li>
        {{/each}}
    </ul>

    {{!-- <ul>
        {{#each unique-recipe.ingredient}}
        <li> {{ unique-recipe.ingredient }} </li>
        {{/each}}
    </ul> --}}

<div class="form-form">
        <form class="form shopping-list__form" action="/mealplans">
        <input aria-label="Back to see all recipes" type="submit" value="Back" class="btn shopping-list__form__back">
    </form>
</div>


</section>