<section>
    <h1 class="shopping-list__header">Shopping List</h1>
    <h2 class="shopping-list__title"> {{unique.title}}</h2>
    <h2 class="shopping-list__days"> {{unique-recipe.days}}</h2>


    <h2 class="shopping-list__duplicate-ingredients">Ingredients you can reuse!</h2>
    <ul class="shopping-list__unordered-list">
        {{#each duplicateIngredients}}
        <li class="shopping-list__unordered-list__item{{this.ingredient_name}}"> <input type="checkbox">
            {{this}} </li>
        {{/each}}
    </ul>

    <h2 class="shopping-list__unique-ingredients"> Unique Ingredients</h2>
    <ul class="shopping-list__unordered-list">
        {{#each uniqueIngredients}}
        <li class="shopping-list__unordered-list__item{{this.ingredient_name}}"> <input type="checkbox">
            {{this}} </li>
        {{/each}}
    </ul>



    {{!-- <ul>
        {{#each unique-recipe.ingredient}}
        <li> {{ unique-recipe.ingredient }} </li>
        {{/each}}
    </ul> --}}


    <form class="shopping-list__form" action="/mealplans">
        <input aria-label="Back to see all recipes" type="submit" value="Back" class="shopping-list__form__back">
    </form>


</section>