<section>
    <h1 class="unique-meal-plan__header"> Plan name: {{header.plan_name}}</h1>
    <h2 class="unique-meal-plan__days"> Days: {{header.plan_days}}</h2>


    <a class="unique-meal-plan__shopping-list" href="/shopping-list/{{this.id}}"> Shopping List </a>

    <form action="/sendEmail" class="unique-meal-plan__form" method="POST">
        <label for="email-field">Enter your email and we'll send your meal plan!!</label>
        <input class="email-input-field" id="email-field" name="email" type="text" placeholder="enter your email">
        <input type="submit" name="submit" value="Email" class="unique-meal-plan__form__email">
    </form>

    {{#each meal_plan_recipe}}
    <img class="unique-meal-plan__recipe-image{{this.recipe_name}}" src="{{this.img}}">
    <h1 class="unique-meal-plan__recipe-title__{{this.recipe_name}}"> {{this.recipe_name}}</h1>
    <a href="/unique-recipe/{{this.recipe_id}}"> I</a>
    <span class=" unique-meal-plan__recipe_info__{{this.recipe-name}}__span">
        Time: {{this.cooking_time}}
        Health score: {{this.health_score}}
    </span>

    {{individualRecipe}}
    {{/each}}



    <form action="/mealplans" class="unique-meal-plan__form">
        <input type="submit" value="View all meal plans" class="unique-meal-plan__form__back">
        <input type="submit" value="+" formaction="/newplan" class="unique-meal-plan__form__new-plan">
    </form>

</section>
