<section>
    <h1 class="unique-meal-plan__header"> Plan name: {{header.plan_name}}</h1>
    <h2 class="unique-meal-plan__days"> Days: {{header.plan_days}}</h2>


    <a href="/shopping-list/{{this.id}}"> Shopping List </a>

    <form action="/shopping-list" class="unique-meal-plan__form">
        <!-- <input type="submit" value="Shopping list" class="unique-meal-plan__shopping-list"> -->
        <input type="submit" value="Email" formaction="/sendEmail" class="unique-meal-plan__email">
    </form>

    {{#each meal_plan_recipe}}
    <img src="{{this.img}}">
    <h1 class="recipe-title__{{this}}"> {{this.recipe_name}}</h1>

    <button class="recipe-info__{{this}}"> i </button>
    <span>
        Time: {{this.cooking_time}}
        Health score: {{this.health_score}}
    </span>

    {{>individual-recipe}}
    {{/each}}



    <form action="/mealplans" class="unique-meal-plan__form">
        <input type="submit" value="View all meal plans" class="unique-meal-plan__form__back">
        <input type="submit" value="+" formaction="/newplan" class="unique-meal-plan__form__new-plan">
    </form>

</section>
