<section>

    {{#each recipe}}
    <img src="{{this.img}}">
    <h1 class="recipe-title__{{this}}"> {{this.recipe_name}}</h1>
    <button class="recipe-info__{{this}}"> i </button>
    <input class="recipe-selected__{{this}}" type="checkbox" value="checked">
    {{/each}}

</section>