
<section>
{{#each recipes.recipes}}

<img src="{{this.image}}">
<h1 class="recipe-title__{{this}}">{{this.title}}</h1>
<span class="recipe-time__{{this.title}}">{{this.readyInMinutes}} minutes</span>
<button class="recipe-info__{{this.title}}"> i </button>
<input class="recipe-selected__{{this}}" type="checkbox" value="checked"> -->
{{/each}}

</section>
